.register {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.register .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
    text-align: center;
    gap: 10px;

}

.register .left h5{
   font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 25px;
    leading-trim: NONE;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color:#A7AFD6;

}

.register .right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 50%;
    text-align: center;
    gap: 20px;
    position: absolute;
    right: 0;
}

.register input{
    width: 490px;
    height: 66px;
    top: 344px;
    left: 834px;
    opacity: 1;
    border-width: 1px;
    border-radius: 12px;
    background-color: #11183A;
    color: white;
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0%;
    text-indent: 80px;
    z-index: 2;
    margin:-20px;

}

.register input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #11183A inset; /* replaces yellow bg */
    -webkit-text-fill-color: white; /* text color */
}

.register .oval{
    position: absolute;
    width: 1400px;
    height: 841px;
    /* color:#6D28D9; */
    background-color: #6D28D9;
    border-radius: 50%;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    filter: blur(220px);
    opacity: 18%;
    z-index: 0;
}

.register h1 {
    font-family: Aldrich;
    font-weight: 400;
    font-style: Regular;
    font-size: 100px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: -3%;

}
.register h2 {
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 50px;
    leading-trim: NONE;
    line-height: 72px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom:-3%;

}

.register .vl{
    border-left: 1px solid #A7AFD6;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 5%;
}
.register img.user{
    
    z-index: 3;
    transform:translate(-700%, 150%);
}
.register img.email{
    z-index: 3;
    transform:translate(-550%, 200%);
}
.register img.password{
    z-index: 3;
    transform:translate(-780%, 150%);
}

.register img.password2 {
    z-index: 3;
    transform: translate(-780%, 150%);
}

.register a{
    color: #13AC24;
}
.register button{
    width: 490px;
    height: 73px;
    top: 836px;
    left: 834px;
    border-radius: 12px;
    opacity: 1;
    background-color: #13AC24;
    color: white; 
    font-family: Roboto;
    font-weight: 400;
    font-style: Regular;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    z-index:2;




}